.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.btn {
  border: 2px solid black !important;
  width: 250px !important;
  margin-left: 5%;
}
.h4{
  font-size: 50px;
}
.text-center{
  font-size: 60px;
  font-family: "";
}
